* text=auto !eol
/README -text
lib/objects/__init__.py -text
lib/objects/sites.py -text
lib/wrappers/ccp4/chainsaw.py -text
lib/wrappers/ccp4/pdbset.py -text
lib/wrappers/ccp4/reindex.py -text
lib/wrappers/ccp4/truncate.py -text
lib/wrappers/ccp4/uniqueify.py -text
src/modules/intensity_data_preparation.py -text
src/modules/pdb_preparation.py -text
src/modules/refine.py -text
src/modules/rigid_body.py -text
