* text=auto !eol
/README -text
bin/empty_pipeline -text
bin/som.brute_force_substructure -text
bin/som.check_pdb -text
bin/som.difference_map -text
bin/som.dimple -text
bin/som.edit_pdb -text
bin/som.select_pdb -text
bin/som.select_pdb_all -text
bin/som.strategy -text
bin/som.substructure -text
bin/som_strategy.bat -text
data/insulin.mtz -text
data/insulin.pdb -text
data/lyso_example_i.mtz -text
doc/architecture/model_phaser.pdf -text
doc/architecture/model_phaser.rst -text
doc/architecture/overview.pdf -text
doc/architecture/overview.rst -text
doc/specifications/data_preparation.pdf -text
doc/specifications/data_preparation.rst -text
doc/specifications/difference_map.pdf -text
doc/specifications/difference_map.rst -text
doc/specifications/fast_data_reduction.pdf -text
doc/specifications/fast_data_reduction.rst -text
doc/specifications/readme.rst -text
doc/use_cases/top_level.pdf -text
doc/use_cases/top_level.rst -text
example/example.mtz -text
lib/__init__.py -text
lib/interfaces/AtomPhaser.py -text
lib/interfaces/MADAtomPhaser.py -text
lib/interfaces/ModelBuilder.py -text
lib/interfaces/ModelPhaser.py -text
lib/interfaces/SADAtomPhaser.py -text
lib/interfaces/SequencePhaser.py -text
lib/jiffies/__init__.py -text
lib/jiffies/files.py -text
lib/objects/__init__.py -text
lib/objects/sites.py -text
lib/templates/strategy_html_template.html -text
lib/wrappers/__init__.py -text
lib/wrappers/ccp4/__init__.py -text
lib/wrappers/ccp4/cad.py -text
lib/wrappers/ccp4/ccp4_factory.py -text
lib/wrappers/ccp4/chainsaw.py -text
lib/wrappers/ccp4/empty.py -text
lib/wrappers/ccp4/freerflag.py -text
lib/wrappers/ccp4/mtzdump.py -text
lib/wrappers/ccp4/pdbset.py -text
lib/wrappers/ccp4/phaser.py -text
lib/wrappers/ccp4/pointless.py -text
lib/wrappers/ccp4/refmac5.py -text
lib/wrappers/ccp4/reindex.py -text
lib/wrappers/ccp4/sfall.py -text
lib/wrappers/ccp4/sftools.py -text
lib/wrappers/ccp4/truncate.py -text
lib/wrappers/ccp4/unique.py -text
lib/wrappers/embl/readme.txt -text
lib/wrappers/embl/strategy.py -text
lib/wrappers/mosflm/__init__.py -text
lib/wrappers/mosflm/index.py -text
lib/wrappers/mosflm/integrate.py -text
lib/wrappers/mosflm/mosflm_factory.py -text
lib/wrappers/mosflm/strategy.py -text
lib/wrappers/phenix/index.py -text
lib/wrappers/shelx/__init__.py -text
lib/wrappers/shelx/empty.py -text
lib/wrappers/shelx/mtz2sca.py -text
lib/wrappers/shelx/shelx_factory.py -text
lib/wrappers/shelx/shelxc.py -text
lib/wrappers/shelx/shelxd.py -text
lib/wrappers/shelx/shelxe.py -text
lib/xia2core/Python/Background/Background.py -text
lib/xia2core/Python/Background/__init__.py -text
lib/xia2core/Python/Decorators/CCP4Decorator.py -text
lib/xia2core/Python/Decorators/DecoratorFactory.py -text
lib/xia2core/Python/Decorators/DecoratorHelper.py -text
lib/xia2core/Python/Decorators/__init__.py -text
lib/xia2core/Python/Decorators/readme.txt -text
lib/xia2core/Python/Driver/ClusterDriverFactory.py -text
lib/xia2core/Python/Driver/DefaultClusterDriver.py -text
lib/xia2core/Python/Driver/DefaultDriver.py -text
lib/xia2core/Python/Driver/DriverFactory.py -text
lib/xia2core/Python/Driver/DriverHelper.py -text
lib/xia2core/Python/Driver/InteractiveDriver.py -text
lib/xia2core/Python/Driver/PythonDriver.py -text
lib/xia2core/Python/Driver/QSubDriver.py -text
lib/xia2core/Python/Driver/ScriptDriver.py -text
lib/xia2core/Python/Driver/SimpleDriver.py -text
lib/xia2core/Python/Driver/SunGridEngineClusterDriver.py -text
lib/xia2core/Python/Driver/__init__.py -text
lib/xia2core/Python/Driver/readme.txt -text
lib/xia2core/Python/Driver/todo.txt -text
lib/xia2core/Python/DriverExceptions/NotAvailableError.py -text
lib/xia2core/Python/DriverExceptions/__init__.py -text
lib/xia2core/Python/Examples/CCP4/Cad.py -text
lib/xia2core/Python/Examples/CCP4/F2mtz.py -text
lib/xia2core/Python/Examples/CCP4/Freerflag.py -text
lib/xia2core/Python/Examples/CCP4/Scala.py -text
lib/xia2core/Python/Examples/CCP4/Sortmtz.py -text
lib/xia2core/Python/Examples/SHELX/Shelxc.py -text
lib/xia2core/Python/Examples/SHELX/Shelxd.py -text
lib/xia2core/Python/Examples/SHELX/Shelxe.py -text
lib/xia2core/Python/TestPython.py -text
lib/xia2core/Python/UnitTest/TestAll.py -text
lib/xia2core/Python/UnitTest/TestCCP4.py -text
lib/xia2core/Python/UnitTest/TestDriver.py -text
lib/xia2core/Python/UnitTest/TestDriverHelper.py -text
lib/xia2core/Python/UnitTest/readme.txt -text
lib/xia2core/Python/XIA2CoreVersion.py -text
lib/xia2core/Python/readme.txt -text
lib/xia2core/Python/run_tests.bat -text
lib/xia2core/Python/run_tests.sh -text
lib/xia2core/Test/Compiled/EPAbrt.c -text
lib/xia2core/Test/Compiled/EPBus.c -text
lib/xia2core/Test/Compiled/EPKill.c -text
lib/xia2core/Test/Compiled/EPLib.c -text
lib/xia2core/Test/Compiled/EPLib2.c -text
lib/xia2core/Test/Compiled/EPLib2.h -text
lib/xia2core/Test/Compiled/EPSegv.c -text
lib/xia2core/Test/Compiled/build.bat -text
lib/xia2core/Test/Compiled/build.mac -text
lib/xia2core/Test/Compiled/build.sh -text
lib/xia2core/Test/Compiled/readme.txt -text
lib/xia2core/Test/ExampleProgram -text
lib/xia2core/Test/ExampleProgram.bat -text
lib/xia2core/Test/ExampleProgram.py -text
lib/xia2core/Test/ExampleProgramCommandLine -text
lib/xia2core/Test/ExampleProgramCommandLine.bat -text
lib/xia2core/Test/ExampleProgramCommandLine.py -text
lib/xia2core/Test/ExampleProgramCommandLineStandardInput -text
lib/xia2core/Test/ExampleProgramCommandLineStandardInput.bat -text
lib/xia2core/Test/ExampleProgramCommandLineStandardInput.py -text
lib/xia2core/Test/ExampleProgramLooseLoop -text
lib/xia2core/Test/ExampleProgramLooseLoop.bat -text
lib/xia2core/Test/ExampleProgramLooseLoop.py -text
lib/xia2core/Test/ExampleProgramRaiseException -text
lib/xia2core/Test/ExampleProgramRaiseException.bat -text
lib/xia2core/Test/ExampleProgramRaiseException.py -text
lib/xia2core/Test/ExampleProgramStandardInput -text
lib/xia2core/Test/ExampleProgramStandardInput.bat -text
lib/xia2core/Test/ExampleProgramStandardInput.py -text
lib/xia2core/Test/ExampleProgramTightLoop -text
lib/xia2core/Test/ExampleProgramTightLoop.bat -text
lib/xia2core/Test/ExampleProgramTightLoop.py -text
lib/xia2core/Test/readme.txt -text
lib/xia2core/license.txt -text
lib/xia2core/readme.txt -text
lib/xia2core/setup.bat -text
lib/xia2core/setup.csh -text
lib/xia2core/setup.sh -text
src/__init__.py -text
src/modules/__init__.py -text
src/modules/calculate_strategy.py -text
src/modules/characterise_diffraction.py -text
src/modules/check_pdb.py -text
src/modules/edit_pdb.py -text
src/modules/find_sites.py -text
src/modules/intensity_data_preparation.py -text
src/modules/interrogate_image.py -text
src/modules/interrogate_mtz.py -text
src/modules/interrogate_pdb.py -text
src/modules/module_factory.py -text
src/modules/molecular_replace.py -text
src/modules/pdb_preparation.py -text
src/modules/refine.py -text
src/modules/rigid_body_refine.py -text
src/modules/symmetry_information.py -text
src/pipelines/__init__.py -text
src/pipelines/brute_force_substructure.py -text
src/pipelines/difference_map.py -text
src/pipelines/dimple.py -text
src/pipelines/select_pdb.py -text
src/pipelines/select_pdb_all.py -text
src/pipelines/strategy.py -text
src/pipelines/substructure.py -text
